---
---

mjx-container {
  font-size: 1.3em !important;
}

/* Specifically for display math (block level) */
mjx-container[display="true"] {
  margin: 1.5em 0 !important;
}

      
/* Remove horizontal scrollbar on tables */
.table-wrapper {
  overflow-x: visible;
}      
